@page "/"

@inject HttpClient Http

<PageTitle>Blazor Shows</PageTitle>

@if (_shows == null)
{
    <p>Loading shows...</p>
}
else
{
    <ShowDetails Show="_selectedShow" />
    <div class="grid">
        @foreach (var show in _shows)
        {
            <ShowCard Show="show" OnSelected="HandleShowSelected" />
        }
    </div>
}

@code {
    private IEnumerable<Show>? _shows;
    private Show? _selectedShow;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _shows = await Http.GetFromJsonAsync<IEnumerable<Show>>("shows/show-data.json");
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading show data: {ex.Message}");
        }
    }

    private void HandleShowSelected(Show show)
        => _selectedShow = show;
}
