@page "/"

@inject HttpClient Http

<PageTitle>Blazor Shows</PageTitle>

@if (_filteredShows == null)
{
    <p>Loading shows...</p>
}
else
{
    <ShowDetails Show="_selectedShow" />

    <ShowSearch OnSearch="HandleSearch" />

    <div class="grid">
        @foreach (var show in _filteredShows)
        {
            <ShowCard Show="show" OnSelected="HandleShowSelected" />
        }
    </div>
}

@code {
    private IEnumerable<Show>? _shows;

    private IEnumerable<Show>? _filteredShows;

    private Show? _selectedShow;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _shows = await Http.GetFromJsonAsync<IEnumerable<Show>>("shows/show-data.json");

            _filteredShows = _shows;
        }
        catch (HttpRequestException ex)
        {
            Console.WriteLine($"There was a problem loading show data: {ex.Message}");
        }
    }

    private void HandleShowSelected(Show show)
        => _selectedShow = show;

    private void HandleSearch(string searchTerm)
    {
        if (searchTerm == string.Empty)
            _filteredShows = _shows;

        _filteredShows = _filteredShows!
            .Where(show => show.Name.Contains(searchTerm, StringComparison.CurrentCultureIgnoreCase));
    }
}
