<div class="row">
    <div class="@Width mt-2">
        <div class="form-group">
            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] 
    public RenderFragment ChildContent { get; set; } = default!; 
    
    [Parameter] 
    public string Width { get; set; } = "col";
}
